@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyFinance</h1>
    <p>Projeto do Curso de Pós-Graduação em Engenharia de Software da PUC-MG que visa ajudar os usuários a gerenciarem suas finanças pessoais por meio do registro de receitas e despesas.</p>
</div>
